/*
 * Cohesity REST API
 *
 * This API list provides operations for interfacing with the Cohesity Cluster.
 *
 * API version: 1.0
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cohesitysdk

import (
	"bytes"
	"reflect"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"regexp"
)

// Linger please
var (
	_ _context.Context
)

// MonitoringApiService MonitoringApi service
type MonitoringApiService service

type ApiGetAllJobRunsRequest struct {
	ctx _context.Context
	ApiService *MonitoringApiService
	StartTimeMsecs *int64
	EndTimeMsecs *int64
	JobTypes *[]string
	EnvTypes *[]string
	Page *int32
	PageSize *int32
}

/*

func (r ApiGetAllJobRunsRequest) StartTimeMsecs(startTimeMsecs int64) ApiGetAllJobRunsRequest {
	r.startTimeMsecs = &startTimeMsecs
	return r
}
func (r ApiGetAllJobRunsRequest) EndTimeMsecs(endTimeMsecs int64) ApiGetAllJobRunsRequest {
	r.endTimeMsecs = &endTimeMsecs
	return r
}
func (r ApiGetAllJobRunsRequest) JobTypes(jobTypes []string) ApiGetAllJobRunsRequest {
	r.jobTypes = &jobTypes
	return r
}
func (r ApiGetAllJobRunsRequest) EnvTypes(envTypes []string) ApiGetAllJobRunsRequest {
	r.envTypes = &envTypes
	return r
}
func (r ApiGetAllJobRunsRequest) Page(page int32) ApiGetAllJobRunsRequest {
	r.page = &page
	return r
}
func (r ApiGetAllJobRunsRequest) PageSize(pageSize int32) ApiGetAllJobRunsRequest {
	r.pageSize = &pageSize
	return r
}
*/

/*
func (r ApiGetAllJobRunsRequest) Execute() ([]GetAllJobRunsResult, *_nethttp.Response, error) {
	return r.ApiService.GetAllJobRunsExecute(r)
}

 * GetAllJobRuns List runs of all the jobs.
 * Returns the job runs for the filters.

Specifying parameters can alter the results that are returned.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiGetAllJobRunsRequest
 
func (a *MonitoringApiService) GetAllJobRuns(ctx _context.Context) ApiGetAllJobRunsRequest {
	return ApiGetAllJobRunsRequest{
		ApiService: a,
		ctx: ctx,
	}
}
*/

func (a *MonitoringApiService) GetAllJobRuns(r ApiGetAllJobRunsRequest) ([]GetAllJobRunsResult, *_nethttp.Response, error) {
	if reflect.TypeOf(*a).Name() != "AccessTokensApiService" {
		token, err := GetTokenHelper(a.client)

		if err != nil {
			return []GetAllJobRunsResult{}, nil, GenericOpenAPIError{
				error: err.Error(),
			}
		}

		r.ctx = _context.WithValue(_context.Background(), ContextAPIKeys, map[string]APIKey{"TokenHeader": {Key: token, Prefix: "Bearer"}})
	} else {
		r.ctx = _context.Background()
	}
	r.ApiService = a

	return r.ApiService.GetAllJobRunsExecute(r)
}


/*
 * Execute executes the request
 * @return []GetAllJobRunsResult
 */
func (a *MonitoringApiService) GetAllJobRunsExecute(r ApiGetAllJobRunsRequest) ([]GetAllJobRunsResult, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  []GetAllJobRunsResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitoringApiService.GetAllJobRuns")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/public/monitoring/jobs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.StartTimeMsecs == nil {
		return localVarReturnValue, nil, reportError("StartTimeMsecs is required and must be specified")
	}
	if r.EndTimeMsecs == nil {
		return localVarReturnValue, nil, reportError("EndTimeMsecs is required and must be specified")
	}

	if r.JobTypes != nil {
		localVarQueryParams.Add("jobTypes", parameterToString(*r.JobTypes, "csv"))
	}
	localVarQueryParams.Add("startTimeMsecs", parameterToString(*r.StartTimeMsecs, ""))
	localVarQueryParams.Add("endTimeMsecs", parameterToString(*r.EndTimeMsecs, ""))
	if r.EnvTypes != nil {
		localVarQueryParams.Add("envTypes", parameterToString(*r.EnvTypes, "csv"))
	}
	if r.Page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.Page, ""))
	}
	if r.PageSize != nil {
		localVarQueryParams.Add("pageSize", parameterToString(*r.PageSize, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		if match, matchErr := regexp.MatchString(`Client.Timeout exceeded`, err.Error()); matchErr == nil && match {
			serName := reflect.TypeOf(r).Name()
			serName = serName[3:len(serName)-7] // remove Api prefix, and Request suffix
			err = GenericOpenAPIError{
				error: "Network timeout when making a request of " + serName +
					". Consider increase the request timeout in the client config." ,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetJobRunInfoRequest struct {
	ctx _context.Context
	ApiService *MonitoringApiService
	JobType *string
	JobId *int64
	JobRunId *int64
}

/*

func (r ApiGetJobRunInfoRequest) JobType(jobType string) ApiGetJobRunInfoRequest {
	r.jobType = &jobType
	return r
}
func (r ApiGetJobRunInfoRequest) JobId(jobId int64) ApiGetJobRunInfoRequest {
	r.jobId = &jobId
	return r
}
func (r ApiGetJobRunInfoRequest) JobRunId(jobRunId int64) ApiGetJobRunInfoRequest {
	r.jobRunId = &jobRunId
	return r
}
*/

/*
func (r ApiGetJobRunInfoRequest) Execute() (GetJobRunInfoResult, *_nethttp.Response, error) {
	return r.ApiService.GetJobRunInfoExecute(r)
}

 * GetJobRunInfo List info related to a job run.
 * Returns the run details for the job run.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiGetJobRunInfoRequest
 
func (a *MonitoringApiService) GetJobRunInfo(ctx _context.Context) ApiGetJobRunInfoRequest {
	return ApiGetJobRunInfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}
*/

func (a *MonitoringApiService) GetJobRunInfo(r ApiGetJobRunInfoRequest) (GetJobRunInfoResult, *_nethttp.Response, error) {
	if reflect.TypeOf(*a).Name() != "AccessTokensApiService" {
		token, err := GetTokenHelper(a.client)

		if err != nil {
			return GetJobRunInfoResult{}, nil, GenericOpenAPIError{
				error: err.Error(),
			}
		}

		r.ctx = _context.WithValue(_context.Background(), ContextAPIKeys, map[string]APIKey{"TokenHeader": {Key: token, Prefix: "Bearer"}})
	} else {
		r.ctx = _context.Background()
	}
	r.ApiService = a

	return r.ApiService.GetJobRunInfoExecute(r)
}


/*
 * Execute executes the request
 * @return GetJobRunInfoResult
 */
func (a *MonitoringApiService) GetJobRunInfoExecute(r ApiGetJobRunInfoRequest) (GetJobRunInfoResult, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  GetJobRunInfoResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitoringApiService.GetJobRunInfo")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/public/monitoring/jobRunInfo"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.JobType == nil {
		return localVarReturnValue, nil, reportError("JobType is required and must be specified")
	}
	if r.JobId == nil {
		return localVarReturnValue, nil, reportError("JobId is required and must be specified")
	}
	if r.JobRunId == nil {
		return localVarReturnValue, nil, reportError("JobRunId is required and must be specified")
	}

	localVarQueryParams.Add("jobType", parameterToString(*r.JobType, ""))
	localVarQueryParams.Add("jobId", parameterToString(*r.JobId, ""))
	localVarQueryParams.Add("jobRunId", parameterToString(*r.JobRunId, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		if match, matchErr := regexp.MatchString(`Client.Timeout exceeded`, err.Error()); matchErr == nil && match {
			serName := reflect.TypeOf(r).Name()
			serName = serName[3:len(serName)-7] // remove Api prefix, and Request suffix
			err = GenericOpenAPIError{
				error: "Network timeout when making a request of " + serName +
					". Consider increase the request timeout in the client config." ,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRunObjectsDetailsRequest struct {
	ctx _context.Context
	ApiService *MonitoringApiService
	JobType *string
	JobId *int64
	JobRunId *int64
}

/*

func (r ApiGetRunObjectsDetailsRequest) JobType(jobType string) ApiGetRunObjectsDetailsRequest {
	r.jobType = &jobType
	return r
}
func (r ApiGetRunObjectsDetailsRequest) JobId(jobId int64) ApiGetRunObjectsDetailsRequest {
	r.jobId = &jobId
	return r
}
func (r ApiGetRunObjectsDetailsRequest) JobRunId(jobRunId int64) ApiGetRunObjectsDetailsRequest {
	r.jobRunId = &jobRunId
	return r
}
*/

/*
func (r ApiGetRunObjectsDetailsRequest) Execute() ([]GetObjectsDetailsResult, *_nethttp.Response, error) {
	return r.ApiService.GetRunObjectsDetailsExecute(r)
}

 * GetRunObjectsDetails List details of objects in a job run.
 * Returns the objects details for the job run.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiGetRunObjectsDetailsRequest
 
func (a *MonitoringApiService) GetRunObjectsDetails(ctx _context.Context) ApiGetRunObjectsDetailsRequest {
	return ApiGetRunObjectsDetailsRequest{
		ApiService: a,
		ctx: ctx,
	}
}
*/

func (a *MonitoringApiService) GetRunObjectsDetails(r ApiGetRunObjectsDetailsRequest) ([]GetObjectsDetailsResult, *_nethttp.Response, error) {
	if reflect.TypeOf(*a).Name() != "AccessTokensApiService" {
		token, err := GetTokenHelper(a.client)

		if err != nil {
			return []GetObjectsDetailsResult{}, nil, GenericOpenAPIError{
				error: err.Error(),
			}
		}

		r.ctx = _context.WithValue(_context.Background(), ContextAPIKeys, map[string]APIKey{"TokenHeader": {Key: token, Prefix: "Bearer"}})
	} else {
		r.ctx = _context.Background()
	}
	r.ApiService = a

	return r.ApiService.GetRunObjectsDetailsExecute(r)
}


/*
 * Execute executes the request
 * @return []GetObjectsDetailsResult
 */
func (a *MonitoringApiService) GetRunObjectsDetailsExecute(r ApiGetRunObjectsDetailsRequest) ([]GetObjectsDetailsResult, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  []GetObjectsDetailsResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitoringApiService.GetRunObjectsDetails")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/public/monitoring/objectDetails"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.JobType == nil {
		return localVarReturnValue, nil, reportError("JobType is required and must be specified")
	}
	if r.JobId == nil {
		return localVarReturnValue, nil, reportError("JobId is required and must be specified")
	}
	if r.JobRunId == nil {
		return localVarReturnValue, nil, reportError("JobRunId is required and must be specified")
	}

	localVarQueryParams.Add("jobType", parameterToString(*r.JobType, ""))
	localVarQueryParams.Add("jobId", parameterToString(*r.JobId, ""))
	localVarQueryParams.Add("jobRunId", parameterToString(*r.JobRunId, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		if match, matchErr := regexp.MatchString(`Client.Timeout exceeded`, err.Error()); matchErr == nil && match {
			serName := reflect.TypeOf(r).Name()
			serName = serName[3:len(serName)-7] // remove Api prefix, and Request suffix
			err = GenericOpenAPIError{
				error: "Network timeout when making a request of " + serName +
					". Consider increase the request timeout in the client config." ,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
